#t3 {
    margin: auto;
    width: 24px;
    height: 24px;
    background: url('../img/ajax-loader.gif') no-repeat;
    display: none;
}

#controls {
    display: table;
    width: 100%;
    text-align: center;
}

#controls div {
    display: table-cell;
    cursor: pointer;
    text-align: center;
}

#controls div.month {
    font-weight: bold;
}

#controls .prev, #controls .next {
    background: greenyellow;
}

#controls .prev, #controls .next, #controls .prev, #controls .prev {
    width: 20%;
}
.year {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#booking-calendar thead tr {
    background: #99d46c none repeat scroll 0 0;
}

#booking-calendar {
    border: 1px solid;
}

#booking-calendar .this {
    font-weight: bold;
    font-size: 16px;
}

#booking-calendar .weekends {
    color: red;
}

#controls .month {
    background: rgba(0, 0, 0, 0.063);
}

#booking-calendar, #booking-courts {
    background-color: rgba(58, 152, 216, 0.09);

}

#booking-calendar tbody tr td, #booking-courts tbody tr td {
    text-align: center;
    cursor: pointer;
    border: 3px solid rgba(58, 152, 216, 0.16);;
}

.flags ul li .av, #booking-calendar td.av {
    background-color: #90ee90;
}

.flags ul li .na, #booking-calendar td.na {
    background-color: #ffb6c1;
}

.flags ul li .opt, #booking-calendar td.opt {
    background-color: #ffffff
}

.flags ul li.this {
    font-size: 18px;
}

.flags ul li span {
    width: 100px;
    height: 30px;
    display: table-cell;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.flags ul {
    list-style: none !important;
}

.flags ul li {
    padding: 5px;
}

#edit-names, #edit-prices {
    width: 25%;
}

#edit-actions {
    float: left;
    margin: 14px 0 0 5px;
    width: 37%;
}

#edit-prices {
    float: left;
}

#edit-names {
    float: right;
}

#edit-actions input {
    display: block;
}

.delete-form {
    display: block;
}

.add-form {
    display: block;
}

#edit-add {
    width: 45%;
    float: left;
}

#edit-delete {
    width: 45%;
    float: right;
}